.container {
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
}

.container p {
  width: 40rem;
  text-align: center;
  font-size: 0.9rem;
}

.container p.imo {
  color: var(--clr-bro);
}
