.container {
  justify-content: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 4px;
  color: var(--clr-100);
}

.container.akademia_ch,
.container.aku_chiro {
  background-color: rgba(44, 43, 135, 0.8);
}

.container.imo {
  background-color: rgba(102, 51, 0, 0.8);
}

.container a {
  all: unset;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  column-gap: 0.6rem;
  align-items: center;
}

.container a svg {
  width: auto;
  height: 1.4rem;
}
