.container {
  justify-content: center;
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  border-radius: 16px 0 16px 4px;
  color: var(--clr-100);
  box-shadow: 2px 8px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.container.home_main,
.container.akademia_ch,
.container.aku_chiro,
.container.home_main button.close,
.container.aku_chiro button.close,
.container.akademia_ch button.close {
  background-color: rgba(44, 43, 135, 0.8);
}

.container.imo,
.container.imo button.close {
  background-color: rgba(102, 51, 0, 0.8);
}

.container.szla_zd,
.container.szla_zd button.close {
  background-color: rgba(68, 169, 108, 0.8);
}

.container.aku_kos,
.container.aku_kos button.close {
  background-color: rgba(10, 168, 161, 0.8);
}

.container button.close {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: -1.2rem;
  right: 0;
  font-size: 0.8rem;
  padding: 0.25rem 0.25rem 0 0.25rem;
  border-radius: 8px 8px 0 0;
}

.container button.close svg {
  fill: var(--clr-100);
}

.container a {
  all: unset;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  width: 100%;
  display: flex;
  column-gap: 0.6rem;
  align-items: center;
}

.container a svg {
  width: auto;
  height: 1.2rem;
}

@media (max-width: 600px) {
  .container span {
    display: none;
  }
}
