.container {
  position: relative;
}

.container a {
  text-decoration: none;
  color: var(--clr-900);
  padding: 1.5rem 1rem;
  box-shadow: 2px 8px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 20rem;
  height: min-content;
}

.container h4 {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--clr-700);
}

.container h2 {
  font-size: 1.1rem;
}

.container p {
  font-size: 0.9rem;
  min-height: 5rem;
}

.container button.delete {
  all: unset;
  cursor: pointer;
  padding: 0.5rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  fill: var(--clr-700);
  z-index: 999;
  transition: 0.2s;
}

.container button.delete:hover {
  fill: var(--clr-red-100);
}

@media (max-width: 900px) {
  .container p {
    text-align: left;
    padding: 0;
  }
}

@media (max-width: 450px) {
  .container {
    width: 100%;
    background-color: var(--clr-100);
  }

  .container a {
    width: 100%;
  }
}
