.container {
  flex-direction: column;
  row-gap: 2rem;
}

.container h1 {
  font-size: 2em;
  width: none;
  font-weight: bold;
}

.container p {
  width: none;
}

.container p a {
  color: revert;
  font-weight: normal;
}

.container section.preview {
  width: 100%;
}

.container .buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 1rem;
}

.container .buttons button {
  all: unset;
  cursor: pointer;
  width: 14rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  color: var(--clr-100);
  background-color: var(--clr-blue-700);
  border: solid 1px var(--clr-blue-700);
  border-radius: 4px;
}

.container .buttons .extended button {
  color: var(--clr-blue-700);
  background-color: var(--clr-100);
  border-radius: 4px;
}

.container .buttons .extended {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: min-content;
}

.container .buttons .extended svg {
  height: 1.25rem;
  fill: var(--clr-blue-700);
  stroke: var(--clr-blue-700);
}

.container .buttons .extended p.warning {
  width: 100%;
  text-align: center;
  font-size: 0.85rem;
  color: var(--clr-blue-700);
}

.container .label {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.container .label input.advanced {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--clr-700);
  border-radius: 4px;
}

.container .label select {
  width: 15rem;
  padding: 0.5rem;
  border: 1px solid var(--clr-700);
  border-radius: 4px;
}
