.container {
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container article.frame {
  width: 50rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
}

.container article.frame .edge {
  position: absolute;
  top: 0;
  left: 0;
  border-left: solid 2px var(--clr-blue-700);
  border-top: solid 2px var(--clr-blue-700);
  width: 5rem;
  height: 8rem;
}

.container article.frame .edge:last-of-type {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  border-left: none;
  border-top: none;
  border-bottom: solid 2px var(--clr-blue-700);
  border-right: solid 2px var(--clr-blue-700);
}

.container article.frame ul {
  list-style-type: none;
  position: relative;
  margin-bottom: 2rem;
}

.container article.frame ul li {
  margin-top: 1rem;
}

.container article.frame ul li:before {
  content: '\2014';
  position: absolute;
  margin-left: -2rem;
  color: var(--clr-900);
  font-weight: 400;
}

.container article.frame ul li span {
  color: var(--clr-red-100);
}

.container article.frame ul li a {
  color: var(--clr-blue-700);
  transition: 0.2s;
}

.container article.frame ul li a:hover {
  color: var(--clr-red-100);
}

.container article.frame p a {
  color: var(--clr-900);
  text-decoration: none;
}

.container article.frame h3 {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.container article.frame h3 a {
  color: var(--clr-blue-700);
  text-decoration: none;
  padding: 1rem;
  transition: 0.2s;
}

.container article.frame h3 a:hover {
  color: var(--clr-red-200);
}

@media (max-width: 800px) {
  .container article.frame {
    width: 95%;
  }
}

@media (max-width: 600px) {
  .container article.frame {
    width: 100%;
    padding: 3rem 3rem;
  }

  .container article.frame .edge {
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    border-left: none;
    width: 30%;
    min-width: 6rem;
    height: 2px;
  }

  .container article.frame .edge:last-of-type {
    left: 50%;
    right: 50%;
    border-right: none;
  }

  .container article.frame ul {
    list-style-type: disc;
  }

  .container article.frame ul li {
    margin-top: 2rem;
    text-align: center;
  }

  .container article.frame ul li:before {
    display: none;
  }

  .container article.frame p {
    text-align: center;
  }

  .container article.frame h3 {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }
}

@media (max-width: 450px) {
  .container article.frame {
    padding: 3rem 1rem;
  }

  .container article.frame ul {
    list-style-type: none;
  }
}

@media (max-width: 400px) {
  .container article.frame {
    font-size: 0.9rem;
  }
}
