.container {
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  row-gap: 1rem;
  border-right: 2px solid var(--clr-blue-700);
  padding: 3rem 0;
}

.container li:last-of-type {
  margin-top: 2rem;
}

.container li a {
  text-decoration: none;
  color: var(--clr-900);
  font-weight: 700;
  font-size: 1rem;
  width: 13rem;
  display: flex;
  justify-content: center;
}

.container li a.active {
  color: var(--clr-blue-700);
  border-left: 2px solid var(--clr-blue-700);
}

.container.imo {
  border-right: 2px solid var(--clr-bro);
}

.container.imo li a {
  color: var(--clr-bro);
}

.container.imo li a.active {
  color: var(--clr-red-200);
  border-left: 2px solid var(--clr-red-200);
}

.container.szla_zd {
  border-right: 2px solid var(--clr-gre);
}

.container.szla_zd li a.active {
  color: var(--clr-gre);
  border-left: 2px solid var(--clr-gre);
}
