.container {
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 2rem 0;
  margin-top: 3rem;
  z-index: 9;
}

.container ul.socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.container ul.socials li a img {
  width: 3rem;
  height: auto;
}

.container p {
  font-weight: 500;
  text-align: center;
}

.container p a {
  text-decoration: underline;
  color: var(--clr-blue-700);
  transition: 0.2s;
}

.container p a:hover {
  color: var(--clr-red-100);
}

.container.imo p {
  color: var(--clr-bro);
}

.container.imo p a {
  color: var(--clr-red-200);
}

.container.imo p a:hover {
  color: var(--clr-blue-700);
}

.container.szla_zd p a {
  color: var(--clr-gre);
}

.container.szla_zd p a:hover {
  color: var(--clr-red-200);
}

.container.aku_kos p a {
  color: var(--clr-tur-800);
}

.container.aku_kos p a:hover {
  color: var(--clr-red-200);
}

@media (max-width: 600px) {
  .container {
    margin-bottom: 1.5rem;
  }
}
