.container {
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 2rem 0;
  margin-top: 3rem;
}

.container ul.socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.container ul.socials li a img {
  width: 3rem;
  height: auto;
}

.container p {
  font-weight: 500;
}

.container p a {
  text-decoration: underline;
  color: var(--clr-blue-700);
}

.container.imo p {
  color: var(--clr-bro);
}

.container.imo p a {
  color: var(--clr-red-200);
}
