.container {
  border-radius: 1rem;
}

.container tr th,
.container tr td {
  padding: 0.5rem;
  text-align: center;
}

.container tr th {
  background-color: rgba(44, 43, 135, 0.3);
}

.container tr td {
  background-color: rgba(44, 43, 135, 0.1);
}
