.container table {
  border-radius: 1rem;
}

.container table tr th,
.container table tr td {
  padding: 0.5rem;
  text-align: center;
}

.container table tr th {
  background-color: rgba(44, 43, 135, 0.3);
}

.container table tr td {
  background-color: rgba(44, 43, 135, 0.1);
}
