.container table {
  border-radius: 1rem;
}

.container table tr th,
.container table tr td {
  padding: 0.5rem;
  text-align: center;
  position: relative;
}

.container table tr th {
  background-color: rgba(44, 43, 135, 0.3);
}

.container table tr td {
  background-color: rgba(44, 43, 135, 0.1);
}

.container .delete {
  all: unset;
  cursor: pointer;
  position: absolute;
  right: -12.5rem;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  fill: var(--clr-blue-100);
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.container .delete:hover {
  fill: var(--clr-blue-700);
}

/* --- --- --- */
/* --- RWD --- */
/* --- --- --- */

@media (max-width: 900px) {
  .container table {
    font-size: 0.8rem;
  }

  .container .delete {
    right: -10.5rem;
  }
}

@media (max-width: 750px) {
  .container .delete {
    right: -2rem;
  }
}

@media (max-width: 650px) {
  .container table {
    font-size: 0.7rem;
  }
}
