.container {
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 8rem 0;
}

.container .edge {
  height: 100%;
  width: 10rem;
  border-left: solid 1px var(--clr-blue-700);
  border-top: solid 1px var(--clr-blue-700);
  position: absolute;
  top: 0;
  left: 0;
}

.container .edge:last-of-type {
  border-left: none;
  border-top: none;
  border-right: solid 1px var(--clr-blue-700);
  border-bottom: solid 1px var(--clr-blue-700);
  top: unset;
  left: unset;
  right: 0;
  bottom: 0;
}

.container h1 {
  font-size: 1.5rem;
  color: var(--clr-blue-700);
  font-weight: 500;
  padding: 3rem 6rem;
}

.container h1 span {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-weight: 600;
  margin-top: 1rem;
}
