.container {
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container .banner {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.91),
      #fff
    ),
    url('../../public/img/gabinet.png');
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  max-height: 52rem;
  width: 100%;
  position: absolute;
  z-index: -9;
}

.container .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.container h1.title {
  color: var(--clr-blue-700);
  font-size: 2.5rem;
  font-family: var(--sub-font-2);
}

.container h2.undertitle {
  color: var(--clr-red-100);
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 400px) {
  .container h1.title {
    font-size: 1.9rem;
  }

  .container ul li {
    font-size: 0.9rem;
  }
}
