.akademiaCh-container {
  flex-direction: column;
  padding: 1.5rem 3rem;
  width: 55rem;
  row-gap: 1.5rem;
}

.akademiaCh-container h1 {
  font-size: 1rem;
  font-weight: 700;
}

/* ----------- ---- ----------- */
/* ----------- HOME ----------- */
/* ----------- ---- ----------- */

.akademiaCh-container.home p {
  text-align: center;
}
