.akuChiro-container {
  color: var(--clr-blue-700);
}

.akuChiro-container h1 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* --- --- --- */
/* --- RWD --- */
/* --- --- --- */

@media (max-width: 900px) {
  .akuChiro-container h1,
  .akuChiro-container p {
    text-align: center;
    padding: 0 3rem;
  }
}

@media (max-width: 400px) {
  .akuChiro-container h1,
  .akuChiro-container p {
    padding: 0 1rem;
  }
}

/* ----------- ---- ----------- */
/* ----------- HOME ----------- */
/* ----------- ---- ----------- */

.akuChiro-container.home p {
  margin-bottom: 1rem;
}

.akuChiro-container.home ul {
  margin: 0 0 1rem 1rem;
}

/* --- --- --- */
/* --- RWD --- */
/* --- --- --- */

@media (max-width: 900px) {
  .akuChiro-container.home ul {
    width: 75%;
  }
}

@media (max-width: 450px) {
  .akuChiro-container.home ul {
    width: 85%;
  }
}

/* ----------- -------------- ----------- */
/* ----------- QUALIFICATIONS ----------- */
/* ----------- -------------- ----------- */

.akuChiro-container.qualifications p,
.akuChiro-container.qualifications h4 {
  margin-bottom: 1rem;
}

.akuChiro-container.qualifications p::first-letter {
  font-weight: 600;
}

.akuChiro-container.qualifications section {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.akuChiro-container.qualifications section .intro {
  display: flex;
  flex-direction: column;
}

.akuChiro-container.qualifications section img {
  height: 16rem;
  width: auto;
}

.akuChiro-container.qualifications a {
  color: var(--clr-blue-700);
  font-weight: 600;
}

/* --- --- --- */
/* --- RWD --- */
/* --- --- --- */

@media (max-width: 900px) {
  .akuChiro-container.qualifications h4 {
    padding: 0 3rem;
  }

  .akuChiro-container.qualifications p {
    text-align: left;
  }

  .akuChiro-container.qualifications section img {
    padding-right: 3rem;
  }
}

@media (max-width: 650px) {
  .akuChiro-container.qualifications section {
    flex-direction: column;
  }

  .akuChiro-container.qualifications section img {
    padding-right: 0;
    margin: 2rem 0;
  }
}

@media (max-width: 450px) {
  .akuChiro-container.qualifications p,
  .akuChiro-container.qualifications h4 {
    text-align: center;
  }
}

/* ----------- ------- ----------- */
/* ----------- CONTACT ----------- */
/* ----------- ------- ----------- */

.akuChiro-container.contact section {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
}

.akuChiro-container.contact section img {
  height: 19rem;
  width: auto;
}

.akuChiro-container.contact section a {
  color: var(--clr-blue-700);
  font-weight: 600;
}

.akuChiro-container.contact .visit {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
  margin-top: 1rem;
}

.akuChiro-container.contact .visit .icon {
  position: relative;
}

/* --- --- --- */
/* --- RWD --- */
/* --- --- --- */

@media (max-width: 900px) {
  .akuChiro-container.contact section {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}

@media (max-width: 350px) {
  .akuChiro-container.contact section img {
    height: auto;
    width: 90%;
  }
}

/* ----------- ------- ----------- */
/* ----------- PUBLICS ----------- */
/* ----------- ------- ----------- */

.akuChiro-container.publics ul.publications {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-bottom: 2rem;
}

.akuChiro-container.publics ul.publications li {
  display: flex;
  column-gap: 1rem;
}

.akuChiro-container.publics ul.dev {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-left: 1rem;
}

/* --- --- --- */
/* --- RWD --- */
/* --- --- --- */

@media (max-width: 900px) {
  .akuChiro-container.publics ul.publications li {
    flex-direction: column;
    text-align: center;
  }

  .akuChiro-container.publics ul.dev {
    padding: 0 2rem;
  }
}

@media (max-width: 650px) {
  .akuChiro-container.publics ul.dev {
    row-gap: 2rem;
  }
}

@media (max-width: 450px) {
  .akuChiro-container.publics ul.dev {
    list-style-type: none;
    margin-left: 0;
    padding: 0 1rem;
  }
}
