.akuChiro-container {
  color: var(--clr-blue-700);
}

.akuChiro-container h1 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* ----------- ---- ----------- */
/* ----------- HOME ----------- */
/* ----------- ---- ----------- */

.akuChiro-container.home p {
  margin-bottom: 1rem;
}

.akuChiro-container.home ul {
  margin: 0 0 1rem 1rem;
}

/* ----------- -------------- ----------- */
/* ----------- QUALIFICATIONS ----------- */
/* ----------- -------------- ----------- */

.akuChiro-container.qualifications p,
.akuChiro-container.qualifications h4 {
  margin-bottom: 1rem;
}

.akuChiro-container.qualifications p::first-letter {
  font-weight: 600;
}

.akuChiro-container.qualifications section {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.akuChiro-container.qualifications section .intro {
  display: flex;
  flex-direction: column;
}

.akuChiro-container.qualifications section img {
  height: 16rem;
  width: auto;
}

.akuChiro-container.qualifications a {
  color: var(--clr-blue-700);
  font-weight: 600;
}

/* ----------- ------- ----------- */
/* ----------- CONTACT ----------- */
/* ----------- ------- ----------- */

.akuChiro-container.contact section {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
}

.akuChiro-container.contact section img {
  height: 19rem;
  width: auto;
}

.akuChiro-container.contact section a {
  color: var(--clr-blue-700);
  font-weight: 600;
}

.akuChiro-container.contact .visit {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
  margin-top: 1rem;
}

/* ----------- ------- ----------- */
/* ----------- PUBLICS ----------- */
/* ----------- ------- ----------- */

.akuChiro-container.publics ul.publications {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-bottom: 2rem;
}

.akuChiro-container.publics ul.publications li {
  display: flex;
  column-gap: 1rem;
}

.akuChiro-container.publics ul.dev {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-left: 1rem;
}
