.imo-container {
  align-items: center;
  color: var(--clr-bro);
}

.imo-container h1 {
  font-size: 1.2rem;
  color: var(--clr-bro);
  font-weight: 700;
  margin-bottom: 1rem;
}

.imo-container h2 {
  font-size: 1.1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.imo-container ul {
  list-style-type: none;
  position: relative;
  width: 100%;
  margin: 1rem 0;
}

.imo-container ul li {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.imo-container ul li.public-sector {
  margin-left: 0;
}

.imo-container ul li.sector {
  margin: 0 0 4rem 0;
  padding: 1rem 2rem;
  border-left: 2px solid var(--clr-red-200);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imo-container ul li.sector button {
  color: var(--clr-red-200);
  display: flex;
  align-items: center;
}

.imo-container ul li.sector button svg {
  fill: var(--clr-red-200);
  transform: rotate(90deg);
  margin-left: 0.5rem;
}

.imo-container ul li.post .line {
  width: 6rem;
  height: 1px;
  background-color: var(--clr-red-200);
  margin: 2rem auto;
}

.imo-container ul li h4 {
  margin: 1rem 0;
}

.imo-container ul li a {
  text-decoration: none;
  color: var(--clr-red-200);
  font-weight: 500;
}

.imo-container ul.dashed li::before {
  content: '\2014';
  position: absolute;
  margin-left: -2rem;
  color: var(--clr-red-200);
  font-weight: 400;
}

.imo-container .modules {
  width: 100%;
}

.imo-container p {
  margin-bottom: 1rem;
  text-align: center;
}

.imo-container p span {
  font-weight: 600;
}

.imo-container p a {
  text-decoration: none;
  color: var(--clr-red-200);
}

.imo-container p.description {
  margin: 1.5rem auto;
  width: 70%;
  font-style: italic;
}

.imo-container .align-left {
  text-align: left;
  width: 100%;
}

.imo-container img {
  width: auto;
  height: auto;
  border-radius: 4px;
  border: 1px var(--clr-bro) solid;
}

.imo-container button {
  all: unset;
  cursor: pointer;
}

/* --- --- --- */
/* --- RWD --- */
/* --- --- --- */

@media (max-width: 900px) {
  .imo-container h1,
  .imo-container h2,
  .imo-container p {
    padding: 0 3rem;
    text-align: center;
  }

  .imo-container ul {
    width: 75%;
  }

  .imo-container p.description {
    width: 100%;
    padding: 0;
  }

  .imo-container .modules ul {
    width: 100%;
  }

  .imo-container .modules > ul > li {
    margin-bottom: 3rem;
  }

  .imo-container .modules ul li ul li {
    margin-left: 0;
  }

  .imo-container p.align-left ~ h4 {
    padding: 0 3rem;
    text-align: center;
  }

  .imo-container ul li.public-sector ul {
    width: 100%;
  }

  .imo-container ul li.public-sector ul li {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* I'm sorry for what I am about to do... */
  .imo-container .align-left {
    text-align: center;
  }

  .imo-container ul li.public-sector ul li a {
    text-align: center;
  }

  .imo-container ul li.public-sector ul li ul.dashed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .imo-container ul li.public-sector ul li ul.dashed li::before {
    left: 0;
  }
}

@media (max-width: 450px) {
  .imo-container h1,
  .imo-container p {
    padding: 0 1rem;
  }

  .imo-container ul {
    width: 85%;
    text-align: center;
  }

  .imo-container ul li {
    margin-left: 0;
  }

  .imo-container ul.dashed li::before {
    display: none;
  }

  .imo-container ul li.sector {
    padding: 1rem 0;
    border-left: none;
  }

  .imo-container ul li.public-sector ul li ul.dashed {
    align-items: center;
  }
}

@media (max-width: 350px) {
  .imo-container img {
    width: 90%;
  }
}
