.imo-container {
  flex-direction: column;
  padding: 1.5rem 3rem;
  width: 60rem;
  color: var(--clr-bro);
}

.imo-container h1 {
  font-size: 1rem;
  color: var(--clr-bro);
  font-weight: 700;
  margin-bottom: 1rem;
}

.imo-container p {
  margin-bottom: 1rem;
}

.imo-container ul {
  margin: 0 0 1rem 1rem;
}
